@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  background-image: url(images/signupbg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 700px;

  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px #a32424;
}
.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 32px;
}
.btn-group .btn {
  display: flex;
  align-items: center;
  column-gap: 4px;
  width: max-content;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 8px 6px;
  border: 2px solid #a32424;
  border-radius: 5px;
  background-color: #f6f6f6;
  transform: scale(1);
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.5s, color 0.5s;
}
.btn-group .btn:hover {
  background-color: #ffe76dce;
  color: #440a0ae5;
}

.btn img {
  width: 16px;
  height: 16px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
  border-radius: 50%;
  padding: 2px;
}
.or {
  position: relative;
  text-align: center;
  margin-bottom: 24px;
  font-size: 1rem;
  font-weight: 600;
  color: #a82222;
}

.left-side {
  background-image: url(images/signupcover.jpg);
  background-size: cover;
  background-attachment: relative;

  background-repeat: no-repeat;
}
.right-side {
  padding: 30px;
  text-align: center;
}
h2 {
  color: #a82222;
  margin-bottom: 15px;
}
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  color: #a82222;
  border: 2px solid #a324243a;
  border-radius: 5px;
}
input:focus {
  border: 2px solid #a32424c7;
  outline: none;
  color: #440a0ae5;
}
.btn-signup {
  background-color: #a32424;
  color: #ffe76dce;
  border: 1px solid #a32424;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  transition: transform 0.1s ease, background-color 0.5s, color 0.5s;
}
.btn-signup:hover {
  background: #ffe66d;
  color: #440a0ae5;
}
.signin-link {
  margin-top: 15px;
  font-size: 14px;
  color: #a32424;
}
.signin-link a {
  color: #a32424;
  text-decoration: none;
  font-weight: bold;
}
.signin-link a:hover {
  border-bottom: 2px solid #e9c929;
}

/* responsive */
@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    width: 90%;
    max-width: 350px;
  }

  .left-side {
    height: 180px;
    background-size: cover;
  }

  .right-side {
    padding: 15px;
  }

  h2 {
    font-size: 18px;
  }

  input {
    font-size: 14px;
    padding: 10px;
  }

  .btn-signup {
    font-size: 14px;
    padding: 10px;
  }

  .signin-link {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    width: 90%;
  }
  .left-side {
    background-image: none;
  }

  .right-side {
    padding: 20px;
  }

  input {
    font-size: 14px;
    padding: 8px;
  }

  .btn-signup {
    font-size: 14px;
    padding: 8px;
  }
  @media (max-width: 1024px) {
    .container {
      width: 80%;
    }
    .left-side {
      background-position: center center;
    }
  }
  @media (min-width: 1440px) {
    .container {
      width: 50%;
    }
  }
}
