* {
  background-color: #faf9f6;
  color: #4a4a4a;
  font-family: "Ubuntu", serif;
}
section {
  margin: 30px 30px;
}
/* nav section */
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #faf9f6;
  padding: 5px 10px;
  color: #4a4a4a;
}

.logo a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
}

.nav-items {
  display: flex;
  padding: 0;
  margin-left: 20px;
}
.nav-items a {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 1rem;
  transition: color 0.3s ease;
  padding-left: 15px;
}

.nav-items a:hover {
  color: #f0efec;
}
/* about-me section */
#aboutme {
  display: flex;
}

#aboutme p {
  max-width: 70%;
  margin: auto;
}

#aboutme img {
  margin-right: auto;
  width: 250px;
  height: auto;
}
